.jumbotron{
    margin: 10px;
    background-image: url("../images/sports.jpg"); 
    height: 450px; /* You must set a specified height */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    text-align: center;
}

.nature {
    padding: 2px;
    margin: 5px;
}
p {
    margin: 5px 0;
}

a:link {
    text-decoration: none;
    color: #bbb;
    margin-bottom: 20px;
    /* margin-left: 5px; */
  }

.addbutton {
    text-align: right;
}